<script>
	import { fly } from 'svelte/transition';
	export let data;
</script>

<div
	class="movie-details"
	in:fly={{ y: 50, duration: 500, delay: 500 }}
	out:fly={{ duration: 500 }}
>
	<div class="img-container">
		<img
			src={'https://image.tmdb.org/t/p/original' + data.props.movieDetail.backdrop_path}
			alt={data.props.movieDetail.title}
		/>
	</div>
	<div class="txt-container">
		<h1>{data.props.movieDetail.title}</h1>
		<p class="overview">{data.props.movieDetail.overview}</p>
		<p>
			<span>Release Date:</span>
			{data.props.movieDetail.release_date} <br />
			<span>Budget:</span> ${data.props.movieDetail.budget}<br />
			<span>Rating:</span>
			{data.props.movieDetail.vote_average}<br />
			<span>Runtime:</span>
			{data.props.movieDetail.runtime}mins
		</p>
	</div>
</div>

<style>
	h1 {
		padding: 1rem 0rem 2rem;
	}

	p {
		padding: 1rem 0rem;
	}

	.img-container {
		width: 100%;
	}

	img {
		width: 100%;
		border-radius: 1rem;
	}

	.movie-details {
		margin: 2rem 20%;
	}

	span {
		font-weight: bold;
	}
</style>
